[submodule "esprit"]
	path = esprit
	url = https://github.com/tuub/esprit.git
	branch = python-2to3
[submodule "magnificent-octopus"]
	path = magnificent-octopus
	url = https://github.com/tuub/magnificent-octopus.git
	branch = python-2to3
